<h2>All Customers</h2>
<form action="/customers" method="GET" value="<%= searchOptions.name %>">
    <label>Name</label>
    <input type="text" name="name">
    <button type="submit">Search</button>
</form>

<br>

<% customers.forEach(customer => { %>

    <div><%= customer.name %></div>

    <% }) %>